/* the project css file */

body {
	background-color: #F3E5CA;
	font-family: "Dosis", sans-serif;
}
#logo {
	width: 60%;
	margin: 20px 0 0 -95px;
	clear: none;
	float: left;
}
h1 {
	color: #325473;
}
#storepic {
	width: 650px;
	height: 550px;
	position: relative;
	top: 0;
	left: -80px;
}
/*jquery menu*/
#menu { 
	width: 18%;
	height: 700px;
	clear: none;
	float: left;
	background-color: #D8AB91;
	margin: 30px 100px;
}
.ui-menu li {
	height: 100px;
	background: #D8AB91;
}
#menu li:first-child {
	margin-top: 55px;
}
#menu li ul li:nth-child(1) {
	margin-top: 0;
}
.ul-menu li ul,
.ui-menu li ul li {
	clear: both;
	float: left;
	width: 251px;
	height: 50px;
}
.ui-menu li:hover,
.ui-menu li ul:hover,
.ui-menu li ul li:hover {
	background-color: #325473;
}
#menu a {
	list-style-type: none;
	text-decoration: none;
	color: #F3E5CA;
	font-family: "Dosis", sans-serif;
}
/*lightbox*/
#wrapper {
	width: 600px;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
	background: none;
	border: none;
	padding: 25px;
	text-align: center;
}

@media screen and (max-width: 1000px) {

	#menu {
     clear: both;
     float: left;
     width: 100%;
	 font-size: 50px;
	 position: absolute;
	 top: 130px;
	 left: -100px;
	 text-align: center;
   }
   #logo {
   	width: 100%;
   	position: absolute;
   	top: 0;
   	left: 100px;
   }
   #storepic {
   	position: relative;
   	top: 300px;
   	left: 150px;
   }

}